.app {
  display: flex;
}

.main-content {
  flex-grow: 1;
  height: 100vh;
  position: relative;

  webview {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
  }
}

.MuiTooltip-popperArrow {
  //transform: translate3d(542px, 565px, 0px) !important;
}

.MuiFormLabel-root {
  text-align: center;
}
.MuiAccordionSummary-root.Mui-expanded {
  min-height: 45px;
}

* {
  box-sizing: border-box;
}
