#set-dnd {
  padding: 1rem;
  color: white;
  background: blue;
  display: inline-block;
  cursor: pointer;
}

#teams-message {
  padding: 1rem;
  color: white;
  background: blue;
  display: inline-block;
  cursor: pointer;
}

#test {
  padding: 1rem;
  color: white;
  background: blue;
  display: inline-block;
  cursor: pointer;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
}

.sidebar-icons .icon {
  margin-top: 10px;
  width: 50px;
  cursor: pointer;
}
