.focus {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: lightgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // Has to be on top of everything else
  // the currently selected webview has a value of 100, make sure it is always higher than that
  z-index: 200;
}
